<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1.} [%t]: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.salesforce.storm.spout.sideline" level="INFO"/>
        <Logger name="com.salesforce.storm.spout.sideline.config.SidelineSpoutConfig" level="ERROR"/>
        <Logger name="org.apache.kafka" level="WARN"/>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>