<?xml version="1.0" encoding="UTF-8"?>
<!-- Test Logging Configuration -->
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1.} [%t]: %msg%n"/>
        </Console>
        <File name="File" fileName="target/logs/test.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1.} [%t]: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!-- Squelch noise from kafka -->
        <Logger name="kafka" level="WARN">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="kafka.server" level="WARN">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="org.apache.kafka" level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Squelch noise from zookeeper -->
        <Logger name="org.apache.zookeeper" level="WARN">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="org.I0Itec.zkclient" level="WARN">
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Relevant classes we want to see ERROR logs on the Console and capture INFO (and everything else) in our log file -->
        <Logger name="com.salesforce.storm.spout.dynamic">
            <AppenderRef ref="Console" level="ERROR"/>
            <AppenderRef ref="File" level="INFO"/>
        </Logger>
        <Logger name="com.salesforce.storm.spout.dynamic.config.SpoutConfig" level="WARN">
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="com.salesforce.storm.spout.sideline">
            <AppenderRef ref="Console" level="ERROR"/>
            <AppenderRef ref="File" level="INFO"/>
        </Logger>

        <!-- Define our loggers -->
        <Root level="INFO">
            <!-- Only Errors go to console, except for the specific classpaths defined above -->
            <AppenderRef level="ERROR" ref="Console"/>

            <!-- Info level go to the log file -->
            <AppenderRef level="INFO" ref="File"/>
        </Root>
    </Loggers>
</Configuration>